@keyframes loading{
    from {opacity: 0;}
    to {opacity: 1;}
}

html{
    opacity: 0;
}

html {animation:loading 0.5s 1s normal 1 ease forwards;}

body{
    margin: 0%;
    padding: 0%;
}

header {
    width: 100%;
    height: 80px;

    box-shadow: 0px 10px 10px #888888;
}
#logo {
    float: left;
    
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 30px;

    height: 60px;
    width: 60px;
}

#title {
    float: left;
    font-size: 21px;
    font-weight: bold;
    
    margin-top: 9px;
    margin-left: 22px;
}

nav {
    transition: 0.3s;
    margin-block-start: 11px;
    float: right;
}

nav .nav-link {
    color: gray;

    margin-right: 24px;
    margin-top: 10px;
    float: left;

    list-style: none;
    transition: 0.3s;

    text-decoration: none;
    font-size: 27px;
}


footer {
    width: 100%;
    height: 200px;
    color: white;
    margin-top: 10em;
    float: top;

    background-color: #2f3136;
}

.footerContents {
    padding-top: 60px;
    height: 100%;
}
.footerContents ul li {
    list-style: none;
}
.footerContents ul li ul {
    padding-inline-start: 0px;
}
.footerContents ul li ul li{
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    font-weight: bold;
}
.footerLast {
    color: gray;
    padding-top: 40px;
}

.contents {
    width: 100%;
    height: 894px;
}